[Desktop Entry]
Type=Application
Name=wol-gui
GenericName=Wake-on-LAN client
Comment=Send Wake-on-LAN magic packets to hosts on your network
Exec=wol-gui
Icon=wol-gui
Terminal=false
Categories=Network;RemoteAccess;GTK;
Keywords=wake;wol;magic packet;power;remote boot;
StartupNotify=true
